body{
margin-left: 0px;
background-color: 	#b2d4af;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1{
 justify-self:center;
 color: #FFFFF0;

}
#toDoForm{
    justify-self:center;
    
}
#addBtn{
   border: none;
   padding-left:30px;
   padding-right:30px;
   border-radius: 3px;
   color: #FFFFF0;
 
   background-color:	#779892;
}