@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pixelify+Sans:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Elite&display=swap');
body{
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
background-color: 	#b2d4af;
 font-family: "Cutive", serif;
}
#title{
    background-color: #779892;
    padding-top: 10px;
    
}
h1{
 justify-self:center;
 color: #FFFFF0;
}
#toDoForm{
    justify-self:center;
       
}

#addBtn{
   border: none;
   padding-left:30px;
   padding-right:30px;
   border-radius: 3px;
   color: #FFFFF0;
 
   background-color:	#779892;
}